<h1 *ngIf="isAddMode">Add Course</h1>
<h1 *ngIf="!isAddMode">Edit Course</h1>
<form  #courseForm=ngForm (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Course Title</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="title" [(ngModel)]="course.title"  name="courseTitle" placeholder="Enter Your Course Title">
    </div>
  </div>
  <br>
  <div class="form-group row">
    <label for="FseatCount" class="col-sm-2 col-form-label">Seat Count</label>
    <div class="col-sm-10">
      <input type="number"  class="form-control" id="FseatCount"  [(ngModel)]="course.seatCount"   name="courseSeat" placeholder="Enter your SeatCount">
    </div>

  </div>

  <div class="form-group row">
    <label for="Ffee" class="col-sm-2 col-form-label">Course Fee</label>
    <div class="col-sm-10">
      <input type="number"  class="form-control" id="Ffee"  [(ngModel)]="course.fee"   name="courseFee" placeholder="Enter your Course Fee">
    </div>

  </div>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">{{header}}</button>
    </div>
  </div>
</form>

