<h1 class="text-center">Maliha Textile</h1>

<table class="table table-dark">
  <thead>
  <tr>
    <th>Title</th>
    <th>Seat</th>
    <th>Fee</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of courses">
    <td>{{course.title}}</td>
    <td>{{course.seatCount}}</td>
    <td>{{course.fee}}</td>
    <td><button class="btn btn-danger" (click)="deleteCourse(course)"><i class="fa fa-trash"></i></button>|<button (click)="updateCourse(course)"  class="btn btn-primary"><i class="fa fa-edit "></i></button></td>

  </tr>
  </tbody>
  <tfoot></tfoot>
</table>
